<h1>Registrations</h1>

<div *ngIf="(registrations$ | async) as registrations else loading">

  <ng-container [ngSwitch]="registrations.collection ? true : false">

    <div *ngSwitchCase="true">

      {{ registrations?.total }} registrations found

      <div class="customer-wrapper" *ngFor="let customer of registrations?.collection">
        {{ customer | json }}
      </div>

    </div>

    <div *ngSwitchCase="false">
      No registration found
    </div>

  </ng-container>

</div>

<ng-template #loading>
  loading
</ng-template>