@import './font';
@import './theming';

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(244, 244, 244, 0.5);

    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $blanco-primary-color;
        }
    }

    .click {
        cursor: pointer;
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-right {
        text-align: right;
    }
    
    .app-spacer {
        flex: 1 1 auto;
    }
    
    .toolbar-icon {
        padding: 0 14px;
    }
}
