<h3>Address</h3>

<form role="form" (submit)="save()" fxLayout="column" fxLayoutGap="8px">

  <div fxFlex>

    <div fxLayout="row" fxLayoutGap="16px">

      <div fxFlex>

        <div fxLayout="row" fxLayoutGap="16px">

          <mat-form-field fxFlex="118px">

            <input matInput placeholder="Postal code" [(ngModel)]="address.postalCode" name="postalCode">

          </mat-form-field>

          <mat-form-field fxFlex="118px">

            <input matInput placeholder="Housenumber" [(ngModel)]="address.number" name="number">

          </mat-form-field>

        </div>

      </div>

      <mat-form-field fxFlex>

        <input matInput placeholder="Floor/Apartment" [(ngModel)]="address.apartmentFloor" name="apartmentFloor">

      </mat-form-field>

    </div>

  </div>

  <mat-form-field fxFlex>

    <input matInput placeholder="Address" [(ngModel)]="address.address" name="address">

  </mat-form-field>

  <div fxFlex>

    <div fxLayout="row" fxLayoutGap="16px">

      <mat-form-field fxFlex>

        <input matInput placeholder="City" [(ngModel)]="address.city" name="city">

      </mat-form-field>

      <mat-form-field fxFlex>

        <mat-select placeholder="Country" [(ngModel)]="address.country" name="country">
          <mat-option *ngFor="let country of countries" [value]="country.value">
            {{country.label}}
          </mat-option>
        </mat-select>

      </mat-form-field>

    </div>

  </div>

</form>