.app-wrapper {
  min-width: 1024px;

  .mat-toolbar {
    background-color: #fff;

    .mat-divider-vertical {
      width: 1px;
      height: 58px;
      margin: 0 8px;
    }
  }
  
  img {
    margin-top: 8px;
    height: 48px;
  }

  .content-wrapper {
    width: 1000px;
    margin: auto;
  }
  
}