// Primary
.blanco-primary-color {
  color: $blanco-primary-color;
}

.blanco-primary-bg {
  background-color: $blanco-primary-bg;
  color: mat-contrast($blanco-theme-primary, default);
}

.blanco-primary-border-3px {
  border: 3px solid $blanco-primary-bg;
}

// Accent
.blanco-accent-color {
  color: $blanco-accent-color;
}

.blanco-accent-bg {
  background-color: $blanco-accent-bg;
  color: mat-contrast($blanco-theme-accent, default);
}

.blanco-accent-border-3px {
  border: 3px solid $blanco-accent-bg;
}

// Warn
.blanco-warn-color {
  color: $blanco-warn-color;
}

.blanco-warn-bg {
  background-color: $blanco-warn-bg;
  color: mat-contrast($blanco-theme-warn, default);
}

.blanco-warn-border-3px {
  border: 3px solid $blanco-warn-bg;
}