$blanco-primary-color: mat-color($blanco-theme-primary);
$blanco-primary-bg: mat-color($blanco-theme-primary);
$blanco-accent-color: mat-color($blanco-theme-accent);
$blanco-accent-bg: mat-color($blanco-theme-accent);
$blanco-warn-color: mat-color($blanco-theme-warn);
$blanco-warn-bg: mat-color($blanco-theme-warn);